body {
    background-color: rgb(255, 255, 255);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* font: 400 30px/38px 'Lora',serif; */
    font: 400 30px/38px 'Lora',serif;
}

.form_text {
    font: 400 30px/38px 'Lora',serif;
}

.map {
    /* background-color: rgb(14, 151, 151); */
}

.map path {
    stroke: transparent;
    stroke-width: 2px;

    transition: fill .2s;
    fill: #000000;
}

.map path:hover {
    fill: rgba(61,203,185,.5);
}


.main_box {
    /* background-color: rgb(116, 60, 116); */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.comunas {
    /* background-color: rgb(82, 122, 20); */
}

.comunas path{
    stroke: white;
    stroke-width:   0.1%;

    transition: fill .2s;
    fill: #000000;
}

.comunas path:hover{
    fill: rgba(61,203,185,.5);
}

.forms {
    padding: 50px;
    width: 30%;
    /* background-color: rgb(139, 43, 43); */
}

#input_sueldo_padre {
    border-radius: 5px;
    padding: 5px;
    size: 100px;
}

.metropolitana :hover{
    fill: rgb(111, 233, 107) !important;
}